body {
    background-color: lightblue;
}

img {
    border-radius: 50%;
    width: 20%;
    height: 20%;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    display: block;
    margin-left: 25%;
    margin-right: 25%;
}

#header {
    background-color: yellow;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

#list {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 15px;
    margin-left: 35%;
}

#navlinks {
    position: fixed;
}

#footer {
    background-color: yellow;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}